<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ConstructionERP</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.html</welcome-file>
    <welcome-file>Welcome.htm</welcome-file>
    <welcome-file>Welcome.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.mayur.construction.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskAdmin</display-name>
    <servlet-name>TaskAdmin</servlet-name>
    <servlet-class>com.mayur.construction.TaskAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskAdmin</servlet-name>
    <url-pattern>/TaskAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.mayur.construction.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelEmployee</display-name>
    <servlet-name>DelEmployee</servlet-name>
    <servlet-class>com.mayur.construction.DelEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelEmployee</servlet-name>
    <url-pattern>/DelEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDepartment</display-name>
    <servlet-name>DelDepartment</servlet-name>
    <servlet-class>com.mayur.construction.DelDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDepartment</servlet-name>
    <url-pattern>/DelDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProject</display-name>
    <servlet-name>CreateProject</servlet-name>
    <servlet-class>com.mayur.construction.CreateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProject</servlet-name>
    <url-pattern>/CreateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProject</display-name>
    <servlet-name>DelProject</servlet-name>
    <servlet-class>com.mayur.construction.DelProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProject</servlet-name>
    <url-pattern>/DelProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartment</display-name>
    <servlet-name>AddDepartment</servlet-name>
    <servlet-class>com.mayur.construction.AddDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartment</servlet-name>
    <url-pattern>/AddDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEmployee</display-name>
    <servlet-name>deleteEmployee</servlet-name>
    <servlet-class>com.mayur.construction.deleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployee</servlet-name>
    <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectData</display-name>
    <servlet-name>ProjectData</servlet-name>
    <servlet-class>com.mayur.construction.ProjectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectData</servlet-name>
    <url-pattern>/ProjectData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PjctData</display-name>
    <servlet-name>PjctData</servlet-name>
    <servlet-class>com.mayur.construction.ProjectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PjctData</servlet-name>
    <url-pattern>/PjctData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginEmployee</display-name>
    <servlet-name>LoginEmployee</servlet-name>
    <servlet-class>com.mayur.construction.LoginEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEmployee</servlet-name>
    <url-pattern>/LoginEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RaskServlet</display-name>
    <servlet-name>RaskServlet</servlet-name>
    <servlet-class>com.mayur.construction.RaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RaskServlet</servlet-name>
    <url-pattern>/RaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.mayur.construction.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.mayur.construction.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReport</display-name>
    <servlet-name>AddReport</servlet-name>
    <servlet-class>com.mayur.construction.AddReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReport</servlet-name>
    <url-pattern>/AddReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteProjectData</display-name>
    <servlet-name>deleteProjectData</servlet-name>
    <servlet-class>com.mayur.construction.deleteProjectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProjectData</servlet-name>
    <url-pattern>/deleteProjectData</url-pattern>
  </servlet-mapping>
</web-app>